PACKAGE_NAME="ec-su-axb35"
PACKAGE_VERSION="{{ strix_fan.dkms_version }}"
BUILT_MODULE_NAME[0]="ec_su_axb35"
BUILT_MODULE_LOCATION[0]="."
DEST_MODULE_LOCATION[0]="/updates/dkms"
MAKE[0]="make KERNEL_BUILD=/lib/modules/${kernelver}/build"
CLEAN="make clean"
AUTOINSTALL="yes"
