release_id: {{ strix_release_id }}
system: {{ strix_system.name }}
engine: {{ strix_system.engine }}
managed_by: https://github.com/pepuscz/strix-halo-llm
service: {{ strix_service.name }}
runtime_repository: {{ strix_runtime.repository }}
runtime_source_commit: {{ strix_runtime.source_commit }}
runtime_server_sha256: {{ strix_runtime.server_sha256 }}
target_repository: {{ strix_target.repository }}
target_revision: {{ strix_target.revision }}
target_quantization: {{ strix_target.quantization }}
draft_repository: {{ strix_draft.repository }}
draft_revision: {{ strix_draft.revision }}
context: {{ strix_service.context }}
power_watts: {{ strix_policy.expected_watts }}
memory_high: {{ strix_service.memory_high }}
memory_max: {{ strix_service.memory_max }}
memory_swap_max: {{ strix_service.memory_swap_max }}
